footer {
    width: 100%;
    text-decoration: none;

    h3 {
        color: #d4bd52;
        font-size: 16px;
        font-weight: 400;
        font-family: $primary-font;
        text-transform: uppercase;
    }

    p {
        font-family: $secondary-font;
    }

    a, p {
        text-decoration: none;
        color: white;
    }
}

.footer-images-container {
    display: flex;
    flex-flow: row wrap;

    .footer__image-container {
        width: 50%;
    }
}

.footer__image-container1 {
    background-image: url(../images/footer-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 475px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2, h3, a {
        color: white;
        text-transform: none;
    }

    a {
        border: 1px solid white;
        padding: 10px 25px;
        border-radius: 25px;
    }

}
// Add Hover state to <a> within image containers
.footer__image-container1 a:hover {
    background: white;
    color: black;
    font-weight: bold;
}

.footer__image-container2 a:hover {
    background: #d4bd52;
    font-weight: bold;
}

.footer__image-container2 {
    background-image: url(../images/footer-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 475px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2, a {
        color: black;
    }

    h3 {
        color: #666666;
        text-transform: none;
    }

    a {
        border: 1px solid #d4bd52;
        padding: 10px 25px;
        border-radius: 25px;
    }

}

.footer-content-container {
    background: #343434;
    padding-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    .footer-content-container__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .footer-content__column {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 300px;
        margin-right: 10px;

        .instagram-images {
            display: flex;
            flex-flow: row wrap;

            img {
                margin: 0 25px 10px 0;
                width: calc(33% - 25px);
            }
        } 
    }
}
// Contact
.footer-content__column1 {
    flex-flow: column nowrap;

    p {
        max-width: 275px;
    }
}

// Tags
.footer-content__column2 {
    flex-flow: column nowrap;
    
    .footer-content__column2__link-container  {
        display: flex;
        flex-flow: row wrap;
        a {
            border: 1px solid white;
            padding: 5px;
            margin-top: 15px;
            margin-right: 10px;
        }
    }
}

// Newsletter


.footer-content__column4__input-container {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 25px;

    input {
        background: #343434;
        
    }

    .input-email {
        border: 1px solid gray;
        color: gray;
        padding-left: 10px;
        width: 70%;
    }
    .input-submit {
        border: 1px solid #d4bd52;
        color: #d4bd52;
        width: 30%;
        padding: 10px;
        margin-left: 10px;
    }
}

.footer-content-social-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    ul {
    
        li {
            list-style-type: none;
            display: inline-block;
            padding: 10px 25px;
            transition: all 0.5s;
        }
    }
}

.footer-content-social-container li:hover {
    border: 1px solid #d4bd52;
    border-radius: 20px;
}

.footer-content-social-container li:hover a {
    color: #d4bd52;
}



// Beginning of bottom footer with copyright
.super-mega-bottom-footer {
    background: #3d3d3d;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1700px) {
    
    .footer-content__column {
        text-align: center;
    }
    
    .footer-content__column1 {
        text-align: left;
    }

}

@media (max-width: 1250px) {
    
    // COLUMN 4 NEWSLETTER AREA

    .footer-content__column4 {
        text-align: center;
        
    }

    .footer-content__column4__input-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .footer-content__column4__input-container input.input-email {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .footer-content__column4__input-container .input-submit {
        font-size: 1rem;
        margin-left: 0;
        margin-top: 10px;
        width: 100%;

    }
}


@media (max-width: 880px) {
    .footer-content__column1 {
        text-align: center;
        align-items: center;
    }

    .footer-content__column2__link-container {
        width: 70%;
        margin: 0 auto;
        justify-content: center;
    }
}


