

    // BEGINNING OF SECTION-1
.section-1 {

.section-1__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    .section-1__div-image {
        width: 62.8%;

        img {
            width: 100%;
        }
    }

    .section-1__div-content {
        max-width: 37%;
        position: relative;
        margin-left: 12%;
        // padding-left: 250px;

        .section-1__div-content__h3 {
            font-size: 30px;
            letter-spacing: 0.1rem;
            margin-bottom: 150px;
            // border-bottom: 2px solid grey; 
        }

        .section-1__div-content__paragraph {
            font-size: 28px;
            font-family: $secondary-font;
            color: $secondary-color;
        }
        
        .section-1__div-content__h1 {
            width: 627px;
            font-family: $primary-font;
            font-size: 80px;
            position: absolute;
            top: 250px;

        }

        .section-1__div-content__p-01 {
            font-size: 500px;
            font-family: $primary-font;
            margin: 0;
            color: rgba(170, 170, 170, 0.219608);
            letter-spacing: 0.01rem;
        }

        .section-1__div-content__link {
            color: white;
            background: #d4bd52;
            font-size: 18px;
            text-decoration: none;
            position: absolute;
            bottom: 350px;
            left: 50px;
            padding: 15px 30px;
            border-radius: 25px;

        .section-1__div-3bars {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .section-1__div-3bars--long {
            // width: 100px; 
            // height: 3px;
            // background: darkslategray;
            border-bottom: 3px solid darkslategray; 
        }

        .section-1__div-3bars--short {
            
        }
        }
    }
}
}