main h2 {
    color: $primary-color;
    font-size: 30px;
    font-family: $primary-font;
    margin-bottom: 0;
}

main p {
    font-size: 18px;
    font-family: $secondary-font;
    color: $secondary-color;
}

// Position relative for the verticle text to the right of the section
.section-3 {
    position: relative;
    margin-bottom: 150px;
}

.section-3__top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;


    .prev-next {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        a, p {
            font-size: 18px;
            font-family: $secondary-font;
            color: $secondary-color;
            text-decoration: none;
            padding: 5px;
        }
    }
}

.prev-next a:hover {
    color: $primary-color;
    font-weight: bold;
    border-bottom: 2px solid rgb(212, 189, 82);
}

.section-3__div-column-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    
    img {
        width: 100%;
    }

    img.bag {
        max-width: 45px;
        max-height: 50px;
        background: rgb(20, 20, 20);
        padding: 10px;
        position: absolute;
        bottom: 26%;
        right: 0;
    }
    
    img.different {
    background: rgb(212, 189, 82);
    }
}

.section-3__div-column {
    width: calc(25% - 40px);
    margin-right: 50px;
    position: relative;

    h4 {
        font-family: $secondary-font;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 24px;
    }

    p {
        font-family: $secondary-font;
        font-size: 16px;
        font-weight: 300;
        color: #aaaaaa;
    }

    h3 {
        font-family: $primary-font;
        font-size: 18px;
        font-weight: bold;
        color: $primary-color;
    }
}

// Take away margin right on last column so everything lines up nicely
.section-3__div-column:last-of-type {
    margin-right: 0;
}

// Make the bag in the 2nd column yellow

img.different {
    background: rgb(212, 189, 82);
}

// Position Verticle Text along the right side of the section

p.section-3__p-vertical {
    font-size: 86px;
    transform: rotate(90deg);
    position: absolute;
    right: -450px;;
    top: 250px;
    color: rgb(238, 238, 238);
    margin: 0;
}

@media (max-width: 1500px) {
    .section-3__div-column img.bag {
    max-width: 30px;
    max-height: 40px;
    background: rgb(20, 20, 20);
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0;
    }

    .section-3__div-column img.different {
        background: rgb(190, 167, 62);
    }
}

@media (max-width: 1200px) {
    .section-3 {
        margin-bottom: 100px;
    }

    .section-3__p-vertical {
        display: none;
    }


    
    .section-3__div-column {
        
        h4 {
            font-size: 14px;
        }

        p {
            font-size: 12px;
            margin: 0;
        }

        h3 {
            margin: 10px 0 0 0;
            font-size: 14px;
        }
    }
}

@media (max-width: 1000px) {
    .section-3 {
        margin-bottom: 50px;
    }

    .section-3__top-container {
        margin-bottom: 5px;
    }
}

@media (max-width: 850px) {
    
    .main {
        background: #343434;
    }
    
    .section-3__div-column-container {
        flex-flow: row wrap;
    }
    
    .section-3__div-column {
    width: 225px;
    margin-right: 0;
    position: relative;
    background: #343434;
    }
    h4, h3 {
        color: #d4bd52;
    }
}

@media (max-width: 650px) {
    
    
    .section-3__h3 {
        color: white;
        margin-top: 0;
        text-align: center;
    }
    
    .section-3__top-container p{
        text-align: center;
    }

    .section-3__div-column {
    width: 100%;
    text-align: center;
        p {
            font-size: 16px;
        } 
        
        h4 {
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    div.prev-next {
        position: absolute;
        bottom: -50px;
        right: 0;
        
        a {
            font-size: 40px;
        }
    }
    .section-3__div-column img.bag {
    max-width: 45px;
    max-height: 50px;
    }
}