section.section-6 {
    width: 100%;
    margin-bottom: 150px;
}

img {
    display: block;
    // width: 100%;
}
.section-6__blog-container  {
    display: flex;
    flex-flow: row nowrap;

}

.section-6__blog-container1 {
    transform:translateY(100px);
    z-index: 10;   
}

.section-6__div-container {
    width: 40%;
    
    h4 {
        text-transform: uppercase;
        font-size: 12px;
        color: #aaaaaa;
    }

    h3 {
        margin: 0;
        font-size: 20px;
    }

    h5 {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 400;
        margin: 10px 0 20px 0;
    }

    p {
        color: #666666;
        max-width: 520px;
        font-size: 16px;
    }
}

.section-6__div-container1 {
    order: 1;
    padding-left: 5%;
}

.section-6__div-container2 {
    order: 4;
    padding-right: 5%;
    text-align: right;

    h4 {
        margin-top: 100px;
    }

}

.section-6__image-container {
    width: 50%;
    order: 2;
    // border: 5px solid white;

    img {
        width: 100%;
        height: auto;
    }
}

.section-6__image-container.section-6__image-container2 {
    order: 3;
    position: relative;
    
    .image-buttons {
        background: white;
        position: absolute;
        bottom: 5px;
        right: 0px;
        width: 90px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        
        img {
            font-size: 10px;
        }

        .image-button-right {
            border-left: 1px solid lightgray;
            padding-left: 18px;
        }
    }
}

@media (max-width: 1400px) {
    .section-6__h2 {
        text-align: center;
        margin-bottom: 25px;
    }


    .section-6__blog-container1 {
        transform: translateY(0);
    }

    .section-6__image-container.section-6__image-container2 .image-buttons {
        position: static;
    }

    .section-6__blog-container2 h4 {
        margin-top: 25px;
    }
}

@media (max-width: 900px) {
    section.section-6 {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    
    .section-6__blog-container h4 {
        margin-top: 0px;
    }

    .section-6__blog-container {
        flex-flow: column wrap;
    }

    .section-6__div-container {
    width: 100%;
    }

    p {
        max-width: 800px;
        font-size: 16px;
    }

    .section-6__div-container1 {
    order: 2;

    // padding-left: 5%;
    }

    .section-6__image-container {
    width: 100%;
    order: 1;
    // border: 5px solid white;

    img {
        width: 100%;
        height: auto;
    }
}
}

