// Colors
$primary-color: #333333;
$secondary-color: #888888;
$side-text-color: #eeeeee;
$icon-color: #666666;

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Backgrounds

$primary-background: #FCFCFC;
$secondary-background: #343434;


h1 {
    color: $primary-color;

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {
    
}