@import 'setup';
@import 'utils';
@import 'typography';

//Componants
@import 'nav';
@import 'header';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'section4';
@import 'section5';
@import 'section6';
@import 'footer';

body {
    max-width: 1920px;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
}

section {
    width: 100%;
}

@media (max-width: 800px) {
    section {
        margin-bottom: 0;
    } 
}



